.body{
    background-color:#121212;
    width: 100vw;
    height: 100vh;
}


.hero-section{
    width: 500px;
    margin-left: 700px;
    margin-top: 40px;
    display: flex;
}

.logo img{
    border: 1px solid #000000;
    border-radius: 50%;
    margin-left: 20px;
    
}

.info{
    margin-left: 100px;
}

.name{
    font-size: 20px;
    color: #fff;
}

.button{
    display: flex;
    align-items: center;
    font-size: 14px;
    border: none;
    outline: none;
}

.button{
    border-radius: 5px;
    padding: 7px 16px;
}


.button-one{
    margin-left: 25px;
    background-color: #0095f6;
    color: #fff;
    font-weight: 500;
}

.button-two{
    background-color: #efefef;
    color: #000;
    font-weight: 500;
    margin-left: 10px;
}


.button-three{
    padding: 8px;
    margin-left: 10px;
}



.follow-bar{
    display: flex;
    align-items: center;
    color: #f5f5f5;
    font-size: 16px;
    margin-top: 20px;
    margin-left: -12px;
}

.follow-bar p{
    margin-left: 30px;
    display: flex;
    align-items: center;
    
}

.follow-bar span{
    font-size: 16px;
    font-weight: 500;
    margin-right: 5px;
}

.detailes-bar{
    margin-left: 20px;
    color: #f5f5f5;
}

.detailes-bar p{
    margin-bottom: -2px;
    font-size: 14px;
}

.p1 {
    font-weight: 600;
}

.p2{
    color: #a8a8a8;
}

.p3{
    font-weight: 400;
}

.p4 a{
    text-decoration: none;
    color: #e0f1ff;
    font-weight: 600;
}