.side-nav{
    width: 330px;
    height: 100%;
    background-color: #000000;
    padding: 20px 30px;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid #2f2727;
}

.fa-brands{
    font-size: 20px;
    padding: 20px 0;
    color: #ffffff;
}

.logo , h1{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo-font{
    font-size: 30px;
    padding: 25px 0px 25px;
    color: #fff;
    margin-bottom: 30px;
    display: block;
}

.nav-links{
    list-style: none;
    position: relative;
}

.nav-links li{
    padding: 10px 0;
    margin-left: -50px;
}

.nav-links li a{
    height: 44px;
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
    display: flex;
    align-items: center;
}

.nav-links li a i{
    font-size: 22px;
    margin-right: 20px;
}

.nav-links li a p{
    margin-bottom: 0;
}

.active{
    background: #121212;
    width: 100%;
    height: 47px;
    position: absolute;
    left: -7%;
    top: 2.6%;
    z-index: -1;
    border-radius: 25px;
    display: none;
    
}

.nav-links li:hover a{
    color: #fff;
    transition: 5s;
}

.nav-links li:hover ~ .active{
    display: block;
}

.nav-links li:nth-child(1):hover~ .active{
    top: 2.6%;
}

.nav-links li:nth-child(2):hover~ .active{
    top: 16.8%;
}

.nav-links li:nth-child(3):hover~ .active{
    top: 31%;
}

.nav-links li:nth-child(4):hover~ .active{
    top: 45.2%;
}

.nav-links li:nth-child(5):hover~ .active{
    top: 59.4%;
}

.nav-links li:nth-child(6):hover~ .active{
    top: 73.6%;
}

.nav-links li:nth-child(7):hover~ .active{
    top: 87.8%;
}

