@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}

.navbar {
  width: 300px;
  height: 100vh;
  position: fixed;
  margin-top: 0;
  display: inline-block;
  background-color: #000000;
}

.nav-item {
  margin-top: 2.5rem;
  margin-left: 1.5rem;
}

.nav-logo img {
  width: 109px;
  height: 29px;
  margin-bottom: 2.5rem;
}

.nav-links li {
  margin-bottom: 2rem;
  padding: 12px 0;
}

.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
}

.nav-links li a i {
  font-size: 24px;
  margin-right: 1rem;
}

.nav-dropdown {
  margin-top: 17rem;
}

.nav-dropdown img {
  width: 24px;
  margin-right: 1rem;
  cursor: pointer;
}

.nav-dropdown a {
  text-decoration: none;
  color: #ffffff;
}
